/* Eliminar el outline solo dentro de los gráficos de Recharts */
.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible,
.recharts-surface:focus,
.recharts-surface:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* Si querés sacar el borde feo al hacer clic en las leyendas o textos del gráfico sin afectar tus botones normales */
.recharts-legend-item:focus,
.recharts-layer:focus {
    outline: none !important;
}